<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidAllCodelabs"
        tools:targetApi="31">
        <activity
            android:name="com.example.feature.codelabs.advkotlin.shaders.ExploringShadersActivity"
            android:exported="false" />
        <activity
            android:name="com.example.feature.android.api.v33.shaders.OpenGLActivity"
            android:exported="false" />
        <activity
            android:name="com.example.feature.android.api.v33.shaders.AndroidGraphicsShadingLanguageActivity"
            android:exported="false" />
        <activity
            android:name="com.example.feature.android.api.v33.shaders.AboutProgrammbleShadersActivity"
            android:exported="false" />
        <activity
            android:name="com.example.feature.codelabs.advkotlin.lessontwo.AdvancedGraphicsActivity"
            android:exported="false" />
        <activity
            android:name="com.example.feature.codelabs.advkotlin.lessonone.AboutNotificationActivity"
            android:exported="false" />
        <activity
            android:name="com.example.feature.android.api.desugaring.ExplorerDesugaringApiActivity"
            android:exported="false">
            <intent-filter>
                <data
                    android:host="main_desugaring_api"
                    android:scheme="dpl" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name="com.example.feature.intnavigation.view.IntentNavigationActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>