<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application>
        <activity
            android:name=".firstsample.FirstSampleGoogleMapsActivity"
            android:exported="false"
            android:label="@string/title_activity_first_sample_google_maps"
            android:theme="@style/Theme.JustComposeLabs" />
    </application>

</manifest>