<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".medium.gettingstartcamerax.GettingStartCameraXComposeActivity"
            android:exported="false"
            android:label="@string/title_activity_getting_start_camera_xcompose"
            android:theme="@style/Theme.JustComposeLabs" />
        <activity
            android:name=".google.clonecameragoogle.GoogleCameraCloneActivity"
            android:exported="false"
            android:label="@string/title_activity_google_camera_clone"
            android:theme="@style/Theme.JustComposeLabs" />
    </application>

</manifest>