<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.br.words">

    <application>
        <activity android:name=".views.activities.WordAppMainActivity"></activity>
        <activity android:name=".views.activities.AddNewWordActivity" />
    </application>

</manifest>