<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- Always include this permission -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- Include only if your app benefits from precise location access. -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FunWithDataBinding"
        tools:targetApi="31">
        <activity
            android:name=".view.features.tutorials.funwithspannablestringbuilder.FunWithSpannableStringBuiliderAndRangeSliderActivity"
            android:exported="false" />
        <activity
            android:name=".view.features.tutorials.medium.windowinsets.AboutWindowInsetsActivity"
            android:exported="true">
            <intent-filter>
                <data
                    android:host="window_insets_listeners_to_layout"
                    android:scheme="dpl" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.features.allfeatures.view.GroupingFeaturesActivity"
            android:exported="true">
            <intent-filter>
                <data
                    android:host="e"
                    android:scheme="dpl" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.features.tutorials.medium.funreplacementspan.DrawingRoundedCornerBackgroundTextActivity"
            android:exported="true">
            <intent-filter>
                <data
                    android:host="drawing_rounded_corner_text_background"
                    android:scheme="dpl" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.features.tutorials.google.dynamicspandrawable.FunWithDynamicSpanDrawableActivity"
            android:exported="true">
            <intent-filter>
                <data
                    android:host="dynamic_span_drawable"
                    android:scheme="dpl" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.features.android2dgraphics.chp8.DrawingCubeActivity"
            android:exported="true">
            <intent-filter>
                <data
                    android:host="drawing_cube_canvas_book"
                    android:scheme="dpl" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.features.androidxgraphics.ShapeOfThingsActivity"
            android:exported="false" />
        <activity
            android:name=".view.features.tutorials.medium.callbackflow.AllTutorialsAboutCallbackFlowActivity"
            android:exported="true">
            <intent-filter>
                <data
                    android:host="all_tutorials_callback_flows"
                    android:scheme="dpl" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.features.tutorials.medium.callbackflow.funwithlocationandcallbackfunction.FunWithLocationAndCallbackFlowActivity"
            android:exported="false" />
        <activity
            android:name=".view.features.android2dgraphics.chp8.CoordinateTransformationActivity"
            android:exported="false" />
        <activity
            android:name=".view.features.tutorials.medium.funwithviewmodelfactory.FunWithViewModelFactoryActivity"
            android:exported="false" />
        <activity
            android:name=".view.features.tutorials.medium.funwithsptransapi.withrx.rxandretrofitii.rxjava3.features.authentication.view.AuthenticationSpTransApiActivity"
            android:exported="true">
            <intent-filter>
                <data
                    android:host="rxjava3_fun_with_sp_trans_api_authentication"
                    android:scheme="dpl" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.features.allfeatures.view.AllFeaturesActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.features.tutorials.medium.funwithsptransapi.withrx.rxandretrofitii.rxjava2.features.searchbuslines.view.SearchBusLinesSpTransportActivity"
            android:exported="true">
            <intent-filter>
                <data
                    android:host="rxjava2_fun_with_sp_trans_api_bus_lines"
                    android:scheme="dpl" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.features.tutorials.medium.datastore.workingwithdatastore.WorkingWithDataStoreActivity"
            android:exported="false" />
        <activity
            android:name=".view.features.tutorials.medium.callbackflow.funwithcurrentlocation.FunWithCurrentLocationActivity"
            android:exported="false" />
        <activity
            android:name=".view.features.tutorials.medium.callbackflow.funwithlastknowlocationii.FunWithLastKnowLocationIIActivity"
            android:exported="false" />
        <activity
            android:name=".view.features.tutorials.google.funwithlastknowlocation.FunWithLastKnowLocationActivity"
            android:exported="false" />
        <activity
            android:name=".view.features.tutorials.medium.callbackflow.funwithfirebaserealtimedatabase.FunWithRealtimeDatabaseActivity"
            android:exported="true">
            <intent-filter>
                <data
                    android:host="callback_flow_with_firebase_database_realtime"
                    android:scheme="dpl" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.features.tutorials.medium.callbackflow.funwithlocationaware.FunWithLocationAwareActivity"
            android:exported="false" />
        <activity
            android:name=".view.features.tutorials.medium.callbackflow.funwithwebsocket.FunWithWebSocketActivity"
            android:exported="true">
            <intent-filter>
                <data
                    android:host="callback_flow_with_web_socket"
                    android:scheme="dpl" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.features.tutorials.medium.callbackflow.funwithlocationmanager.FunWithLocationManagerActivity"
            android:exported="false" />
        <activity
            android:name=".view.features.codelabs.CodeLabsAndroidDataBindingActivity"
            android:exported="true">
            <intent-filter>
                <data
                    android:host="code_labs_android_databinding"
                    android:scheme="dpl" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.features.tutorials.medium.funwithsptransapi.withrx.rxandretrofitii.rxjava2.features.authentication.view.AuthenticationSpTransApiRxJava2Activity"
            android:exported="true">
            <intent-filter>
                <data
                    android:host="rxjava2_fun_with_sp_trans_api"
                    android:scheme="dpl" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".view.features.funwithdatabinding.FunWithDataBindingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>