<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".tutorial.medium.eventhandling.localbroadcastmanager.EventHandlingLocalBroadcastManagerActivity"
            android:exported="false" />
        <activity
            android:name=".tutorial.geeksforgeeks.localbroadcastmanager.LocalBroadcastManagerActivity"
            android:exported="false" />
    </application>

</manifest>